
.mini-throttle {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.25rem;
  margin: 0.25rem;
  width: auto;

  &__stop {
    width: auto;
    height: 100%;
  }

  .throttle__speed {
    width: 5rem;
    // flex: 1;
    height: 100%;
    padding: 0;
    margin: 0 .5rem;
    &:after, &:before {
      display: none;
    }
  }
  .throttle__controls__group {
    padding: 0 0 0 .5rem;
    width: auto;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    .MuiButtonBase-root {
      height: 100%;
    }
  }
}