$sliderWidth: 7rem;

.throttles {

  &__available {
    display: flex;
    justify-content: flex-start;
    border-right: 1px solid rgba(255,0,0,.5);

    > .MuiGrid-root {
      align-content: flex-start;
    }
  }

  &__menu {
    justify-content: space-between;
    padding-left: .5rem;;
  }

  &__acquired {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;


    &--view-compact {

      .throttle__container {

        padding: .5rem;
        max-width: 320px;
        min-width: 240px;
        flex: 1 1 25%;
        height: 50%;
      }

      .throttle__functions,
      .throttle__space {
        display: none;
      }
      
      .MuiCardHeader-root {
        transform: scale(0.75);
        padding: 0;
      }
      
    }
    &--view-comfy {

      
    }
    &--view-2up {

      .throttle__container {
        max-width: 50%;
        width: 50%;
        flex: 1 1 50%;
      }
      
    }
    &--view-full {
      
      .throttle__container {
        max-width: 100%;
        width: 100%;
        flex: 1 1 100%;
      }
    }
  }

}
.throttle {

  height: 100%;
  display: flex;
  flex-direction: column;


  .MulutiCardHeader-root,
  .MuiCardActions-root {
    background-color: rgba(0,0,0,.2);
  }

  .MuiCardHeader-content {
    .MuiCardHeader-title {
      font-size: 1.5rem;
      border: 1px solid red;
      padding: 0.25rem .5rem;
      text-align: center;
      border-radius: .25rem;
      background-color: rgba(255,0,0,.1);
    }
  }

  .great-northern { 
    background-color: #A75733;
    color: #fff;
  }

  &__container {
    flex: 1 1 33%;
    padding: 1rem;
    min-width: 320px;
    width: 33%;
    max-width: 560px;
    height: 100%;
    max-height: calc(100vh - 10rem);
  }

  &__content {
    flex: 1;
    &__grid {
      height: 100%;
    }
  }

  &__controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100%;


    &__status {
      width: 100%;
      display: flex;
      flex-direction: row;
      padding: 1rem;
      &.MuiPaper-root {
        background-color: rgba(0,0,0,.1);
      }
      // button {
      //   border: 1px solid rgba(244, 67, 54, .5);
      //   // box-shadow: inset 0px 0px 2px 2px rgba(0,0,0,0.2);
      //   background-color: rgba(0,0,0,.1);
      // }
    }

    &__speed {
      flex: 1;
    }

    &__group {
      padding: 0 1.5rem;
      display: flex;
      flex-direction: column;
      height: 100%;
      &:first-of-type {
        padding-left: 0;
      }
      &:last-of-type {
        padding-right: 0;
      }
    }
  }

  &__slider {
    position: relative;
    flex: 1;
    text-align: center;
    height: 100%;
    > .MuiGrid-container {
      height: 100%;
    }
    &__wrapper {
      padding-top: 2rem;
      padding-bottom: 2rem;
      flex: 1;
    }
    &__control {
      text-align: left;
    }
    &__switch {
      margin: 2rem auto;
    }
    &__container {
      flex: 1;
    }
    &__item {
      flex: 1;
      display: flex;
    }

    &.MuiSlider-root.MuiSlider-vertical {
      // width: $sliderWidth;
      margin-right: auto;
    }

    &.MuiSlider-vertical {

      .MuiSlider-rail {
        width: $sliderWidth;
        box-shadow: inset 2px 2px 0px 0px #000000;
        border-radius: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        margin-left: ($sliderWidth / -2);
        padding: 1rem 0;
        margin-top: -1rem;
      }

      .MuiSlider-track {
        width: $sliderWidth;
        box-shadow: inset 2px 2px 0px 0px #000000;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }

      .MuiSlider-mark {
        width: ($sliderWidth / 2);
        // transform: translate(0px, 1rem);
        left: -2.5rem;
      }
      .MuiSlider-markLabel {
        left: 41px;
        color: #000;
        // padding-top: 25px;
        z-index: 2;
        &:before {
          position: absolute;
          content: calc(attr(data-index) + 5) + 'px';
          left: -130px;
        }

      }

      .MuiSlider-thumb {
        bottom: 0%;
        width: 7rem;
        border-radius: 5px;
        background-color: darkgreen;
        transform: translate(-50%, 0);
        margin-left: 0;
        //   left: 50%;
        //   width: $sliderWidth*2;
        //   height: $sliderWidth/2;
        //   transform: translate(-50%, 15px);
        //   margin-left: 0;
        //   margin-right: 0;
        //   bottom: calc(50% - 23px);
        //   width: 7rem;
        //   height: 1rem;
        //   border-radius: 3px;
        //   opacity: .7;
        //   background-image: linear-gradient(rgb(204, 204, 204), rgb(238, 238, 238));
        //   box-shadow: rgb(170, 170, 170) -2px 2px 0px 0px;
        //   cursor: pointer;
        //   text-align: center;
      }
    }
  }

  &__speed {
    padding: 1rem;
    margin: 0.5rem;
    // width: 100%;
    border: 1px solid rgba(255,255,255,.15);
    background: #333;
    box-shadow: inset 0px 0px 4px 2px rgba(0,0,0,0.3);
    border-radius: .25rem;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    position: relative;
    &:before,
    &:after {
      position: absolute;
      width: 100%;
      text-align: center;
      font-size: 8px;
      text-transform: uppercase;
      font-family: "Andale Mono", monospace;
      left: 0;
      right: 0;
      white-space: nowrap;
      padding-top: 5px;
    }
    &:before {
      content: '↑↑ FWD ↑↑';
      top: 0;
      color: rgba(118, 255, 3, .7);
    }
    &:after {
      content: '↓↓ REV ↓↓';
      bottom: 0;
      color: rgba(244, 67, 54, .7);
    }
    &.throttle__speed--reverse {
      color: rgba(244, 67, 54, .7);
      &:before {
        display: none;
      }
    }

    &.throttle__speed--forward {
      color: rgba(118, 255, 3, .7);
      &:after {
        display: none;
      }
    }
  }

  &__functions {
    // padding-bottom: 1rem;
    flex: 1 1 auto;

    overflow-y: auto;
    height: 0px;
    &__viewport {
      // height: 100%;
      // overflow: scroll;
      // max-height: 480px;
      display: flex;
      flex-wrap: wrap;
    }
    &__btn.MuiButtonBase-root {
      margin: 0.25rem 0;
      padding: 0.5rem 0; 
      min-width: 8rem;
      flex: 1 0 50%;

    }
  }

  &__space {
    padding: 1rem;
  }

  &__actions {
    &__primary.MuiButtonBase-root {
      margin-left: auto;
    }
  }

}

@media only screen and (max-width: 1000px) {
  .throttle {
    &__controls {
      &__status {
        flex-direction: column;
        > .MuiGrid-item {
          width: 100%;
        }
      }

    }

    &__functions {
      &__btn.MuiButtonBase-root {
        min-width: 5rem;
        flex: 1 0 50%;
        font-size: 10px;

      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .throttle {
    &__functions {
      &__btn.MuiButtonBase-root {
        min-width: 5rem;
        flex: 1 0 100%;
        font-size: 10px;

      }
    }
  }
}