.trackmaster {
  &__content-container {
    height: 100%;
    &.MuiContainer-root {
      display: flex;
    }
  }
  &__menu-item {
    display: flex;
    nav {
      margin: 3rem;
      width: 100%;
      background-color: rgba(244, 67, 54, 0.2);
      display: flex;
      flex-direction: column-reverse;
      align-content: center;
      align-items: center;
      justify-content: space-around;
    }
  }
}

.status-monitor {
  .MuiChip-root {
    margin: 0 0.5em;
  }
  &--unknown.MuiChip-icon {
    animation: flickerAnimation 1s infinite;
  }
  &--connected.MuiChip-icon {
    background-color: rgb(14, 192, 14);
    border-radius: 50%;
  }
  &--disconnected.MuiChip-icon {
    background-color: rgb(211, 0, 0);
    border-radius: 50%;
  }
}

.power {
  &-on, 
  &-off, 
  &-unknown, 
  &-pending {
    &.MuiButtonBase-root  {
      margin-left: .5rem;
    }
    svg.MuiSvgIcon-root {
      border-radius: 50%;
      // padding: .5rem;
      // width: 3rem;
      // height: 3rem;
    }
  }
  &-on {
   svg.MuiSvgIcon-root {
    background-color: rgb(14, 192, 14);
   }
  }
  &-off {
    svg.MuiSvgIcon-root {
     background-color: rgb(211, 0, 0);
    }

  }
  &-unknown {
    svg.MuiSvgIcon-root {
     background-color: rgb(129, 129, 129);
    }

  }

  &-pending {
    svg.MuiSvgIcon-root {
      fill: #999;
      animation: flickerAnimation 1s infinite;
    }
  }
}
@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}