
.react-transform-component {
  
  // height: 100%;
  width: 100%;
}
.react-transform-element {
  
  // height: 100%;
  width: 100%;
}

.filters {
  padding: 1rem;
}


.line-toggle.MuiButtonBase-root  {
  margin: 0 0.5rem 0.5rem 0;
}

.layout-img {
  // height: 80vh;
  // width: 80vh;
  // height: 100%;
  height: calc(100vh - 94px - 86px);
  margin: 0 auto;
  padding: 1rem;
}